<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net48" />
  <package id="GeneticSharp" version="2.5.1" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2019.1.1" targetFramework="net48" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net461" />
  <package id="MattEland.Shared" version="1.0.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
</packages>